<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="parallelRun" >
    <groups>
        <run>
            <include name="validData"></include>
        </run>
    </groups>
    <test name="test1" >
<classes>
    <class name="com.courses.globalmoney.LoginTest_TestNG"/>
</classes>
    </test>

    <test name="test2">

    </test>
</suite>
