<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <groups>
        <run>
            <include name="V"
        </run>
    </groups>
    <test name="test1" >
<classes>
    <class name="com.courses.globalmoney.LoginTest_TestNG"/>
</classes>
    </test>

    <test name="test2">

    </test>
</suite>
