<?xml version="1.0" encoding="UTF-8"?>
<suite name="PromUaTest">
    <test name="TestNgParametersTest">

        <parameter name="username" value=""/>
        <parameter name="email" value=""/>
        <parameter name="password" value=""/>
        <classes>
            <class name="com.courses.promUa.PromUaTest" />
        </classes>
    </test>
</suite>
